{
  "openapi": "3.0.3",
  "info": {
    "title": "Muse API",
    "description": "Muse Music Streaming Service API Documentation",
    "contact": {
      "email": "mubareksd@gmail.com"
    },
    "license": {
      "name": "GPL 3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.html"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "http://api.muse.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication routes"
    },
    {
      "name": "Albums",
      "description": "Albums routes"
    },
    {
      "name": "Artists",
      "description": "Artists routes"
    },
    {
      "name": "Categories",
      "description": "Categories routes"
    },
    {
      "name": "Genres",
      "description": "Genres routes"
    },
    {
      "name": "Me",
      "description": "Me routes"
    },
    {
      "name": "Playlists",
      "description": "Playlists routes"
    },
    {
      "name": "Tracks",
      "description": "Tracks routes"
    },
    {
      "name": "Users",
      "description": "Users routes"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "login",
        "summary": "Login",
        "description": "Login to the application",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "register",
        "summary": "Register",
        "description": "Register to the application",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "logout",
        "summary": "Logout",
        "description": "Logout of the application",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out Successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "refresh",
        "summary": "Refresh",
        "description": "Refresh access token",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Refresh"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/albums": {
      "get": {
        "tags": ["Albums"],
        "operationId": "getseveralalbums",
        "summary": "Albums",
        "description": "Get Several Albums",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveralAlbumsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ids"
          }
        }
      }
    },
    "/albums/{id}": {
      "get": {
        "tags": ["Albums"],
        "operationId": "getalbumbyid",
        "summary": "Albums",
        "description": "Get Album with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Invalid id"
          }
        }
      },
      "put": {
        "tags": ["Albums"],
        "operationId": "updatealbum",
        "summary": "Albums",
        "description": "Update Album",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlbum"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "400": {
            "description": "Invalid id"
          }
        }
      }
    },
    "/albums/{id}/tracks": {
      "get": {
        "tags": ["Albums"],
        "operationId": "getalbumstracks",
        "summary": "Albums",
        "description": "Get Albums Tracks",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "post": {
        "tags": ["Albums"],
        "operationId": "addalbumtracks",
        "summary": "Albums",
        "description": "Add Album Tracks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Added Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "delete": {
        "tags": ["Albums"],
        "operationId": "deletealbumtracks",
        "summary": "Albums",
        "description": "Delete Album Tracks",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/albums/{id}/genres": {
      "post": {
        "tags": ["Albums"],
        "operationId": "addalbumgenres",
        "summary": "Albums",
        "description": "Add Album Genres",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumGenres"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Albums"],
        "operationId": "deletealbumgenres",
        "summary": "Albums",
        "description": "Delete Album Genres",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumGenres"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/albums/{id}/artists": {
      "post": {
        "tags": ["Albums"],
        "operationId": "addalbumartists",
        "summary": "Albums",
        "description": "Add Album Artists",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Added Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Albums"],
        "operationId": "deletealbumartists",
        "summary": "Albums",
        "description": "Delete Album Artists",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/albums/{id}/images": {
      "put": {
        "tags": ["Albums"],
        "operationId": "updatealbumimages",
        "summary": "Albums",
        "description": "Update Album Images",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Albums"],
        "operationId": "deletealbumimages",
        "summary": "Albums",
        "description": "Delete Album Images",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "8fa3f58b-6e88-4d7c-9b7e-aacbdd9a77fe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/artists": {
      "get": {
        "tags": ["Artists"],
        "operationId": "getseveralArtists",
        "summary": "Artists",
        "description": "Get Several Artists",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/artists/{id}": {
      "get": {
        "tags": ["Artists"],
        "operationId": "getartistbyid",
        "summary": "Artists",
        "description": "Get Artist with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "e242bc9a0ceea852400d3f927f07557e4a36b9f34e7f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/artists/{id}/albums": {
      "get": {
        "tags": ["Artists"],
        "operationId": "getartistsalbums",
        "summary": "Artists",
        "description": "Get Artists Albums",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "e242bc9a0ceea852400d3f927f07557e4a36b9f34e7f",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": ["Artists"],
        "operationId": "createartistalbum",
        "summary": "Artists",
        "description": "Create Artist Album",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "e242bc9a0ceea852400d3f927f07557e4a36b9f34e7f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Artists"],
        "operationId": "deleteartistalbum",
        "summary": "Artists",
        "description": "Delete Artist Album",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "e242bc9a0ceea852400d3f927f07557e4a36b9f34e7f",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Categories"],
        "operationId": "getseveralcategories",
        "summary": "Categories",
        "description": "Get Several Categories",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": ["Categories"],
        "operationId": "createcategory",
        "summary": "Categories",
        "description": "Create Category",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": ["Categories"],
        "operationId": "getcategorybyid",
        "summary": "Categories",
        "description": "Get Category with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": ["Categories"],
        "operationId": "updatecategorybyid",
        "summary": "Categories",
        "description": "Update Category with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Categories"],
        "operationId": "deletecategorybyid",
        "summary": "Categories",
        "description": "Delete Category with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/genres": {
      "get": {
        "tags": ["Genres"],
        "operationId": "getseveralgenres",
        "summary": "Genres",
        "description": "Get Several Genres",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": ["Genres"],
        "operationId": "creategenre",
        "summary": "Genres",
        "description": "Create Genre",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/genres/{id}": {
      "get": {
        "tags": ["Genres"],
        "operationId": "getgenrebyid",
        "summary": "Genres",
        "description": "Get genre with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": ["Genres"],
        "operationId": "updategenrebyid",
        "summary": "Genres",
        "description": "Update genre with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Genres"],
        "operationId": "deletegenrebyid",
        "summary": "Genres",
        "description": "Delete genre with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["Me"],
        "operationId": "getmyprofile",
        "summary": "Me",
        "description": "Get Current user",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/me/playlists": {
      "get": {
        "tags": ["Me"],
        "operationId": "getmyplaylists",
        "summary": "Me",
        "description": "Get Current users Playlists",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/me/albums": {
      "get": {
        "tags": ["Me"],
        "operationId": "getmyalbums",
        "summary": "Me",
        "description": "Get Current users Albums",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/playlists": {
      "get": {
        "tags": ["Playlists"],
        "operationId": "getseveralplaylists",
        "summary": "Playlists",
        "description": "Get Several Playlists",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/Playlists/{id}": {
      "get": {
        "tags": ["Playlists"],
        "operationId": "getplaylistbyid",
        "summary": "Playlists",
        "description": "Get Playlist with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": ["Playlists"],
        "operationId": "updateplaylistbyid",
        "summary": "Playlists",
        "description": "Update Playlist with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/playlists/{id}/tracks": {
      "get": {
        "tags": ["Playlists"],
        "operationId": "getplayliststracks",
        "summary": "Playlists",
        "description": "Get Playlist Tracks with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": ["Playlists"],
        "operationId": "createplaylisttracks",
        "summary": "Playlists",
        "description": "Add Tracks to Playlist with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Added Successfully"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": ["Playlists"],
        "operationId": "deleteplaylisttracks",
        "summary": "Playlists",
        "description": "Remove Tracks from Playlist with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/playlists/{id}/images": {
      "put": {
        "tags": ["Playlists"],
        "operationId": "updateplaylistsimages",
        "summary": "Playlists",
        "description": "Update Playlist Image with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "delete": {
        "tags": ["Playlists"],
        "operationId": "deleteplaylistimages",
        "summary": "Playlists",
        "description": "Remove Playlist Image with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/tracks": {
      "get": {
        "tags": ["Tracks"],
        "operationId": "getseveraltracks",
        "summary": "Tracks",
        "description": "Get Several Tracks",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/tracks/{id}": {
      "get": {
        "tags": ["Tracks"],
        "operationId": "gettrackbyid",
        "summary": "Tracks",
        "description": "Get Track with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "put": {
        "tags": ["Tracks"],
        "operationId": "updatetrackbyid",
        "summary": "Tracks",
        "description": "Update Track with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/tracks/{id}/artists": {
      "post": {
        "tags": ["Tracks"],
        "operationId": "gettracksartists",
        "summary": "Tracks",
        "description": "Add Artist to Track with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Added Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "delete": {
        "tags": ["Tracks"],
        "operationId": "deletetrackartist",
        "summary": "Tracks",
        "description": "Remove Artist from Track with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "operationId": "getseveralusers",
        "summary": "Users",
        "description": "Get Several Users",
        "security": [],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "example": 10,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "example": 0,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["Users"],
        "operationId": "getuserbyid",
        "summary": "Users",
        "description": "Get User with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/users/{id}/playlists": {
      "get": {
        "tags": ["Users"],
        "operationId": "getusersplaylists",
        "summary": "Users",
        "description": "Get User's Playlists with id",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetched Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "operationId": "createuserplaylist",
        "summary": "Users",
        "description": "Create User's Playlist with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "delete": {
        "tags": ["Users"],
        "operationId": "deleteuserplaylists",
        "summary": "Users",
        "description": "Delete User's Playlist with id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    },
    "/users/{id}/image": {
      "put": {
        "tags": ["Users"],
        "operationId": "updateusersimages",
        "summary": "Users",
        "description": "Update User's Image with id",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      },
      "delete": {
        "tags": ["Users"],
        "operationId": "deleteusersimages",
        "summary": "Users",
        "description": "Delete User's Images with id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "example": "5272457a980bab8465e22ca2aef2ef482a199a237923",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Created Successfully"
          },
          "400": {
            "description": "Invalid"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Login": {
        "required": ["email", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "user1.artist@muse.com",
            "description": "User email"
          },
          "password": {
            "type": "string",
            "example": "?b8zUI.aw}v@?Kja&f[V[>!Bwars*_d",
            "description": "User password"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJlMjQyYmM5YTBjZWVhODUyNDAwZDNmOTI3ZjA3NTU3ZTRhMzZiOWYzNGU3ZiIsInJvbGUiOiJBUlRJU1QiLCJpYXQiOjE2ODcxNTMxMTAsImV4cCI6MTY4NzE1NjcxMH0.8RnciaKJQI8CZcYYe2wJoaK9NJPHNnB--QdTgFlp85A",
            "description": "User Access Token"
          },
          "refreshToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJlMjQyYmM5YTBjZWVhODUyNDAwZDNmOTI3ZjA3NTU3ZTRhMzZiOWYzNGU3ZiIsInJvbGUiOiJBUlRJU1QiLCJpYXQiOjE2ODcxNTMxMTAsImV4cCI6MTY4OTc0NTExMH0.SgNOHhdb7ooVkgWlKMEX_IwfetR2vIK4aiDU7EsTXlU",
            "description": "User Refresh Token"
          }
        }
      },
      "Register": {
        "required": ["full_name", "username", "email", "password"],
        "type": "object",
        "properties": {
          "full_name": {
            "type": "string",
            "example": "user1 artist",
            "description": "User Full Name"
          },
          "username": {
            "type": "string",
            "example": "user1artist",
            "description": "User Display Name"
          },
          "email": {
            "type": "string",
            "example": "user1.artist@muse.com",
            "description": "User Email"
          },
          "password": {
            "type": "string",
            "example": "",
            "description": "User Password"
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "new_user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "41d0407b-c0cb-483e-a047-b6a6f4cb1620",
                "description": "User email"
              },
              "full_name": {
                "type": "string",
                "example": "user3 artist",
                "description": "User password"
              },
              "usename": {
                "type": "string",
                "example": "user13artist",
                "description": "User password"
              },
              "email": {
                "type": "string",
                "example": "user3.artist@muse.com",
                "description": "User password"
              },
              "password": {
                "type": "string",
                "example": "$2b$10$7Pvlz5TJ2Y15Kw2QkjwOdOljcbY8KoUH94/GjgV1Iw7BNH3Vm2id6",
                "description": "User password"
              },
              "role": {
                "type": "string",
                "example": "USER",
                "description": "User role"
              },
              "active": {
                "type": "string",
                "example": "true",
                "description": "user status"
              },
              "createdAt": {
                "type": "string",
                "example": "2023-06-20T07:00:08.287Z",
                "description": "data created time"
              },
              "updatedAt": {
                "type": "string",
                "example": "2023-06-20T07:00:08.287Z",
                "description": "data update time"
              }
            }
          }
        }
      },
      "Refresh": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJlMjQyYmM5YTBjZWVhODUyNDAwZDNmOTI3ZjA3NTU3ZTRhMzZiOWYzNGU3ZiIsInJvbGUiOiJBUlRJU1QiLCJpYXQiOjE2ODcxNTMxMTAsImV4cCI6MTY4OTc0NTExMH0.SgNOHhdb7ooVkgWlKMEX_IwfetR2vIK4aiDU7EsTXlU",
            "description": "User Refresh Token"
          }
        }
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJlMjQyYmM5YTBjZWVhODUyNDAwZDNmOTI3ZjA3NTU3ZTRhMzZiOWYzNGU3ZiIsInJvbGUiOiJBUlRJU1QiLCJpYXQiOjE2ODcxNTMxMTAsImV4cCI6MTY4NzE1NjcxMH0.8RnciaKJQI8CZcYYe2wJoaK9NJPHNnB--QdTgFlp85A",
            "description": "User Access Token"
          }
        }
      },
      "AlbumGenres": {
        "type": "object",
        "properties": {
          "genres": {
            "type": "object",
            "example": ["dsfdsf", "dsfdsfs"],
            "description": "Array of Album Genres"
          }
        }
      },
      "SeveralAlbumsResponse": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number",
            "example": 10,
            "description": "Number of Albums"
          },
          "offset": {
            "type": "number",
            "example": 0,
            "description": "Number of Albums"
          },
          "total": {
            "type": "number",
            "example": 1,
            "description": "Number of Albums"
          },
          "albums": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Album"
            }
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "41d0407b-c0cb-483e-a047-b6a6f4cb1620",
            "description": "Album ID"
          },
          "name": {
            "type": "string",
            "example": "The Dark Side of the Moon",
            "description": "Album name"
          },
          "type": {
            "type": "string",
            "example": "ALBUM",
            "description": "Album type"
          },
          "release_date": {
            "type": "string",
            "example": "1973-03-01",
            "description": "Album release date"
          }
        }
      },
      "UpdateAlbum": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "The Dark Side of the Moon",
            "description": "Album name"
          },
          "type": {
            "type": "string",
            "example": "ALBUM",
            "description": "Album type"
          },
          "release_date": {
            "type": "string",
            "example": "1973-03-01",
            "description": "Album release date"
          }
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
